html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-grow:1; /* Prend tous l'espasse dispo */
    height: 100%;
}


#lefArea {
    background-color: #42ad9c ;
    left: 0;
    width: 50%;
}

#rightArea {
    flex-grow: 1;
    background-color: #a542ad ;
    left: 0;
    width: 15%;
}

#bottomArea{
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #f7c600;
}