* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    }

body * {

}
.main-container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

header, nav, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    height: 10vh;
    flex-grow: 0;
    background-color: #840084;

}
nav {
    height: 4vh;
    background-color: #0000ff;
}

main {
    flex-grow: 1;
    max-height: 100%;
    background-color: #ffc6ce;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.pz_item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}


footer {
    height: 10vh;
    background-color: #c6c6c6;
}
